<div class="discount-code">
  <h1 class="">Have a discount code?</h1>
  <form [formGroup]="form">
    <mat-form-field appearance="legacy" class="discount-input">
      <mat-label>Enter discount code:</mat-label>
      <input type="text" matInput formControlName="discountCode" id="codeInput" value="CPE20">
      <mat-error *ngIf="this.form.controls.discountCode.hasError('required')">No discount code has been entered</mat-error>
      <mat-hint>{{showValidation}}</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="onCodeButton()" [disabled]="form.invalid" class="btn-discount">Apply Code</button> <!--  -->
  </form>
</div>

