.discount-code {
  margin-top: 30px;
}

.discount-input {
  width: 30%;
}

.btn-discount {
  margin-left: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #d50032;
}

.btn-discount:hover:enabled {
  background-color: maroon;
}
